{:deps
 {clj-http/clj-http {:mvn/version "3.10.1"}
  cheshire/cheshire {:mvn/version "5.10.0"}
  org.clojure/tools.logging {:mvn/version "1.1.0"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.632"}}}
  :fmt {:extra-deps {com.jameslaverack/cljfmt-runner
                     {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                      :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
        :main-opts ["-m" "cljfmt-runner.check"]}
  :fmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]}}}
